<link rel="import" href="../../polymer/polymer.html">
<link rel="import" href="../../iron-flex-layout/classes/iron-flex-layout.html">
<link rel="import" href="../../iron-a11y-keys/iron-a11y-keys.html">

<dom-module id="standup-persons">
	<style>
		#list {
			width: 400px;
		}
		#list .item {
			height: 50px;
		}
		#list .item:nth-of-type(even) {
			background-color: #ccc;
		}
		#list .item .person {
			text-transform: capitalize;
		}
	</style>

	<template>
		<div id="list">
			<template is="dom-repeat" items="[[ persons ]]" as="person">
				<div class="item layout vertical center-justified">
					<div class="layout horizontal">
						<div class="flex">
							<span class="person">[[ person ]]</span>
						</div>
						<div class="flex-two">
							Person Went <input type="checkbox" /> | <button class="flex" on-click="removePerson">Person Not Here</button>
						</div>
					</div>
				</div>
			</template>
			<hr />
			<input type="text" id="newPersonName"/> <button on-click="addPerson">add</button>
			<iron-a11y-keys keys="enter" on-keys-pressed="addPerson"></iron-a11y-keys>
		</div>
	</template>
	<script>
		(function() {
			Polymer({
				is: 'standup-persons',
				properties: {
					persons: {
						type: Array,
						value: function() { return []; }
					}
				},

				removePerson: function(e) {
					if (e && e.model && e.model.index !== undefined) {
						this.splice('persons', e.model.index, 1);
					}
				},

				addPerson: function() {
					if (this.$.newPersonName.value.length) {
						this.push('persons', this.$.newPersonName.value);
						this.$.newPersonName.value = '';
					}
				}
			});
		})();
	</script>
</dom-module>